.aboutSection {
  background-image: url(../../Assets/razer-nari-hero-desktop-wireless-gaming-headset\ CL.jpg);
  background-size: cover;
}

.aboutDescriptionContainer {
  padding: 150px 0 125px 0;
  width: 50%;
}

.descriptionTitle {
  font-size: 40px;
  font-weight: bold;
  color: var(--white);
  line-height: 1.2;
}

.description {
  color: var(--grey);
}

.aboutDescriptionImages img {
  width: 100px;
}

.razerNariLogo {
  position: absolute;
  top: 550px;
  right: 360px;
  float: right;
  width: 250px;
}

@media screen and (max-width: 600px) {
  .aboutSection {
    background-image: url(../../Assets/banner.png);
    background-position-y: bottom;
  }

  .aboutDescriptionContainer {
    padding: 25px 0 50px 0;
    width: 100%;
  }

  .razerNariLogo {
    display: none;
  }

  .aboutDescriptionImages img {
    width: 50px;
  }
}

@media screen and (max-width: 768px) {
  .aboutSection {
    background-position-x: -2350px;
  }

  .aboutDescriptionContainer {
    padding: 50px 0 40px 0;
    width: 60% !important;
  }
}
