.contactSection {
  background-color: var(--black);
}
.form-control {
  font-size: 12px !important;
  font-weight: bold !important;
  color: var(--white) !important;
  padding: 12px !important;
  background-color: #fff0 !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
  margin-bottom: 16px !important;
}

.form-control::placeholder {
  color: var(--grey) !important;
}

.contactRow {
  padding: 100px 0;
}

.messageInput {
  height: 100px;
}

.actionBtn {
  font-size: 12px !important;
  font-weight: bold !important;
  color: var(--black) !important;
  margin-top: 15px !important;
  padding: 15px 70px !important;
  background: var(--green) !important;
  border-radius: 40px !important;
  border: unset !important;
}

.infoHeader {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  margin-top: 5px;
}

.info {
  font-size: 13px;
  font-weight: bold;
  color: var(--grey);
}

@media screen and (max-width: 600px) {
  .contactRow {
    padding: 50px 0;
  }

  .actionBtn {
    width: 100%;
  }

  .sectionHeadline {
    text-align: center;
    margin: 50px 0;
  }
}
