nav {
  background-color: var(--black);
}

.navbar-brand {
  width: 100px;
}

.navbar-nav .nav-link,
.dropdown-menu.show a {
  font-size: 12px;
  font-weight: bold;
  color: var(--grey);
  padding: 0 30px !important;
}

.dropdown-menu .show {
  font-size: 12px;
  font-weight: bold;
  color: var(--grey);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .show > .nav-link {
  color: var(--green) !important;
  background: unset;
}

.dropdown-menu.show:hover,
.dropdown-menu.show:focus {
  color: var(--green) !important;
}

.dropdown-menu.show {
  top: 33px !important ;
  background-color: black;
}

.dropdown-menu.show a {
  padding: 10px 30px !important;
}

.dropdown-menu.show > .dropdown-item:hover {
  background: unset;
  color: var(--green);
}

.submenu .dropdown-menu.show {
  margin-top: -40px !important;
}

.buy-btn {
  font-size: 12px;
  font-weight: bold;
  color: var(--dark-grey);
  padding: 15px 45px;
  border-radius: 25px;
  border: none;
  background: var(--green);
}

.navbar-collapse .buy-btn {
  text-decoration: unset;
}

.buy-btn:hover {
  color: unset;
}
