.features-section {
  padding: 8rem 0 6.25rem 0;
  background-color: var(--dark-grey);
}
.flex-container {
  margin-block: 3rem;
  margin-inline: auto;
  display: flex;
  width: 51%;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-header {
  margin: auto;
  width: 60%;
  text-align: center;
}

.feature-subheadline {
  color: var(--grey);
}

.swiper {
  width: 100%;
  height: 16rem;
}

.swiper-slide {
  font-size: 1rem;
  text-align: center;
  background: var(--black);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide:hover .img-to-hover {
  opacity: 0.2;
}

.swiper-slide:hover .view-btn {
  display: block;
  opacity: 1;
}

.features-section .container .swiper .swiper-pagination-bullet-active {
  background: var(--green) !important;
  opacity: unset;
}

.features-section .container .swiper .swiper-pagination-bullet {
  background: #5a5a5a;
  opacity: unset;
}

.view-fullscreen {
  margin-top: -8.5rem;
}

.view-btn {
  position: relative;
  margin: auto;
  padding: 0.8rem 2.5rem;
  display: none;
  width: 80%;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--black);
  transition: 0.5s ease;
  border: none;
  border-radius: 2.5rem;
  background: var(--green);
}

.view-fullscreen a {
  text-decoration: unset;
}

.view-fullscreen a:hover {
  color: unset;
}

.modal-dialog .modal-content .modal-body {
  padding: unset;
}

.modal-dialog {
  max-width: 62.5rem;
}

.section-divider {
  margin-bottom: 3rem;
  color: var(--grey);
}

@media screen and (max-width: 600px) {
  .features-section {
    padding: 1.8rem 0;
  }

  .feature-header {
    width: 100%;
  }

  .flex-container {
    display: block;
    width: 100%;
  }

  .feature-subheadline {
    font-size: 1rem;
  }

  .section-headline {
    margin-top: 3rem;
  }
}

@media screen and (width: 768px) {
  .flex-container {
    width: 100%;
  }
}

@media screen and (width: 1024px) {
  .flex-container {
    width: 100%;
  }
}
