.about-section {
  background-image: url(../../Assets/razer-nari-hero-desktop-wireless-gaming-headset\ CL.jpg);
  background-size: cover;
}

.about-description-container {
  padding: 9rem 0 8rem 0;
}

.description-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--white);
}

.description {
  color: var(--grey);
}

.about-description-images img {
  width: 6.25rem;
}

.razer-nari-logo {
  position: absolute;
  float: right;
  top: 35rem;
  right: 25rem;
  width: 15rem;
}

@media screen and (max-width: 600px) {
  .about-section {
    background-image: url(../../Assets/banner.png);
    background-position-y: bottom;
  }

  .about-description-container {
    padding: 1.5rem 0 3rem 0;
  }

  .razer-nari-logo {
    display: none;
  }

  .about-description-images img {
    width: 3rem;
  }

  .description {
    color: var(--white);
  }
}

@media screen and (width: 768px) {
  .about-section {
    background-position-x: -140rem;
  }

  section .row .about-description-container {
    padding: 3rem 0 2.5rem 0;
    width: 58%;
  }
}

@media screen and (width: 1024px) {
  .about-section {
    background-position: center;
  }

  section .row .about-description-container {
    padding: 9rem 0 8rem 0;
    width: 50%;
  }

  .razer-nari-logo {
    right: 5rem;
  }
}
