.img-container {
  background-color: var(--black);
}

.card-img {
  margin: auto;
  display: block;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  letter-spacing: 1px;
}

.card-subtitle {
  font-size: 0.75rem;
  color: var(--grey);
}

.card-description {
  padding: 1rem 1rem;
  border-bottom: 3px solid var(--green);
  background-color: #161415;
}

.learn-more {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: unset;
  color: var(--green);
}

.learn-more:hover {
  color: var(--green);
}
