.thx-spatial-container {
  padding: 6.25rem 0;
  width: 28%;
}

.spatial-section {
  background-image: url(../../Assets/razer-nari-usp02-desktop-wireless-gaming-headset.jpg);
  background-size: cover;
}

.thx-icon {
  width: 9rem;
}

@media screen and (max-width: 600px) {
  .spatial-section {
    background-image: url(../../Assets/6.jpg);
    background-position: right;
  }

  .thx-spatial-container {
    padding: 3rem 0;
    width: 100%;
  }

  .thx-icon {
    display: none;
  }
}

@media screen and (width: 768px) {
  .thx-spatial-container {
    width: 50%;
  }

  .spatial-section {
    background-position: center;
  }
}
