.contact-section {
  background-color: var(--black);
}
section .row .form-control {
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--white);
  background-color: #fff0;
  border: 1px solid white;
  border-radius: 5px;
}

.form-control::placeholder {
  color: var(--grey) !important;
}

.contact-row {
  padding: 6.25rem 0;
}

.message-input {
  height: 6.25rem;
}

section .contact-row form .action-btn {
  margin-top: 1rem;
  padding: 1rem 4rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--black);
  background: var(--green);
  border: unset;
  border-radius: 2.5rem;
}

.info-header {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
}

.info {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--grey);
}

@media screen and (max-width: 600px) {
  .contact-row {
    padding: 3rem 0;
  }

  .action-btn {
    width: 100%;
  }

  .section-headline {
    margin: 3rem 0;
    text-align: center;
  }
}
