.featureFlex img {
  width: 40px;
}

.featureFlex {
  margin-bottom: 50px;
  flex-grow: 1;
  width: 33%;
}

.feature {
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
}

.featureDescription {
  width: 90%;
  font-size: 13px;
}

.featureDescription {
  color: var(--grey);
}

.sectionDivider {
  margin-bottom: 50px;
  color: var(--grey);
}

@media screen and (max-width: 600px) {
  .featureFlex {
    width: 100%;
  }
}
