.feature-flex img {
  width: 2.5rem;
}

.feature-flex {
  margin-bottom: 3rem;
  width: 33%;
  flex-grow: 1;
}

.feature {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
}

.feature-description {
  width: 90%;
  font-size: 0.8rem;
  color: var(--grey);
}

@media screen and (max-width: 600px) {
  .feature-flex {
    width: 100%;
  }
}
