nav {
  background-color: var(--black);
}

.navbar-brand {
  width: 6.25rem;
}

body .nav-link,
.dropdown-menu.show a {
  padding: 0 2rem !important;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--grey);
}

.dropdown-menu .show {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--grey);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .show > .nav-link {
  color: var(--green) !important;
  background: unset;
}

.dropdown-menu.show:hover,
.dropdown-menu.show:focus {
  color: var(--green) !important;
}

.dropdown-menu.show {
  top: 2rem !important ;
  background-color: black;
}

.dropdown-menu.show a {
  padding: 0.6rem 2rem !important;
}

.dropdown-menu.show > .dropdown-item:hover {
  color: var(--green);
  background: unset;
}

.submenu .dropdown-menu.show {
  margin-top: -2.5rem !important;
}

.buy-btn {
  padding: 1rem 3rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--dark-grey);
  border: none;
  border-radius: 1.5rem;
  background: var(--green);
}

.navbar-collapse .buy-btn {
  text-decoration: unset;
}

.buy-btn:hover {
  color: unset;
}

.offcanvas {
  background-color: var(--black) !important;
}

.offcanvas-title,
.offcanvas-header .btn-close {
  font-weight: bold !important;
  color: var(--grey) !important;
}

.mob-menu-list {
  padding-left: unset;
  list-style-type: none;
}

.mob-menu .buy-btn {
  margin: auto;
  display: block;
  width: 100%;
}

.mob-menu-list li a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--grey);
}

.mob-menu-list li {
  margin-bottom: 2rem;
}

.mob-menu-list li i {
  float: right;
}

.offcanvas-header a {
  text-decoration: unset;
}

svg {
  float: right;
}

.leftIcon {
  float: left;
  margin-top: 5px;
  margin-right: 0.6rem;
  height: 1rem;
}

.navClose,
.header-container a svg {
  color: var(--grey);
}
