* {
  font-family: "Montserrat";
}

:root {
  --green: #00ff01;
  --grey: #988c8c;
  --dark-grey: #0f0f0f;
  --black: #000;
  --white: #fff;
}

body .container {
  max-width: 75rem;
}

.section-headline {
  font-size: 20px;
  font-weight: bold;
  color: var(--green);
}

@media screen and (max-width: 600px) {
  body .container {
    padding: 0 30px;
  }
}

@media screen and (width: 768px) {
  body .container {
    padding: 0 50px;
  }
}

@media screen and (width: 1024px) {
  body .container {
    padding: 0 60px;
  }
}
